@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
/*This is a comment in css*/

/* css syntax */
selector {
	property: value;
	propert: value;
}


/* Type Selector */
p { /*selects all p tags */
font-size: 12px; 
line-height: 14px;
} 

/*This is a font property (short hand, all in one)*/

figcaption {
	font-weight: bold;
	font-size: 16px;
	line-height: 12px;
	font-family: 'Elsie Swash Caps', cursive;
	text-align: center;
	color: rgb(161,35,38); /*Can do this as HEX #FF000, or RGB, or RGBA (a is opacity, on e scale from 0-1)*/
/*This is a font property (short hand, all in one)*/ /*on a mac, use digitl color meter- search it*/
}
/*The period indicates a class*/
.whitetext {/*selects elements with a class attribute of whitetext*/
font: bold 14px/14px 'Elsie Swash Caps', cursive;
color: white;
text-shadow: 2px 3px 4px black;
}


/*ID selector can only be applied to one thing per page*/
#logo {/*selects items with an ID of logo*/

}

/*descendent selector*/
#logo h1 {
	font-size: 40pt;
	color: gray;
	font-family: cursive;
}

#logo h2 {
	font-size: 20pt;
	color: black;
	font-family: serif;
}


/*psuedo selector*/

#details a:link, #details a:visited {
	color: black;
	text-decoration: none;
}

#details a:hover {
	color: green;
	text-decoration: underline;
}

#details a:active {
	color: red;
	text-decoration: none;
}

img, video, audio {
	max-width: 100%;
}

/*///////layout//////*/

.wrapper {
	width: 960px;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

.col-1 {
	float: left;
	width: 25%;
}

.col-2 {
	float: left;
	width: 60%;
}

.clearfix:after {
	content:".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.col-3 {
}

#featured-property {
	margin-left: 0%;
}

[class*="col-"] {
	margin: 2%;
}

section	{
	padding: 20px;
	margin-bottom: 20px;
}

.margin-zero {
	margin-left: 0;
}

#social {
	position: fixed;
	top: 200px;
	right: 20px;
	width: 40px;
	z-index: 1;
}

#social a {
	display: block;
	width: 40px;
	height: 40px;
	background-color: yellow;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white
	z-index: 1;
}